body {
  font-family: "News Cycle", Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
  color: #6f7287;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px; 
}

/*===================== MEDIA CARDS ======================*/

.card-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card-img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.media-card {
  /* Add shadows to create the "card" effect */
  width: 25rem;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.media-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container. 2px North and South. 16px West and East */
.card-details {
  padding: 2px 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card-details > div {
  padding: 5px;
  margin: 5px;
  line-height: 1.5rem;
  margin-top: -30px;
}

.card-date {
  font-weight: bold;
  color: #cc3300;
}

.card-date > p {
  text-align: center;
}

.card-actions {
  position: relative;
  top: -24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.media-card:hover span {
  opacity: 1;
}

.card-actions button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.card-actions span {
  opacity: 0;
  transition: opacity 0.1s linear;
  margin: 0 5px;
}
